body {
  background: linear-gradient(#5ffc2f, #2f5ffc, #cc2ffc);
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  font-family: "Comic Sans MS", "Comic Sans", cursive;
}
#bienvenida {
  font-family: url();
}

#navbarr {
  background: linear-gradient(90deg, silver, #484f59) !important;
}
#navbar-logo {
  width: 100px;
}
.navbar-brand {
  align-content: center;
}

.pagination > li > a {
  color: black;
  background: linear-gradient(160deg, silver, #484f59) !important;
}
thead > tr > th {
  background: linear-gradient(0deg, silver, #484f59) !important;
  text-align: center;
}

tbody > tr > th,
td {
  background: linear-gradient(180deg, white, silver) !important;
  vertical-align: baseline;
  text-align: center;
}
.img-thumbnail:hover {
  -webkit-transform: scale(1.5);
  -moz-transform: scale(1.5);
  -o-transform: scale(1.5);
  -ms-transform: scale(1.5);
  transform: scale(1.5);
}
#lista {
  background-color: linear-gradient(#9e8122, #fccc2f);
  border-style: groove;
  border-width: 4px;
  margin: 20px;
}
.logo {
  background: linear-gradient(90deg, silver, grey);
  min-width: 100px;
  max-width: 500px;
  border-radius: 100%;
  border-style: outset;
  -webkit-backdrop-filter: blur(20px);
  backdrop-filter: blur(20px);
}

#main {
  background: linear-gradient(90deg, #fccc2f, #9e8122);
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 7px;
  border-style: outset;
  border-color: silver;
}
td {
  font-size: 30px;
}

#digimon-img {
  max-width: 130px;
  min-width: 20px;
}
footer {
  display: flex;
  justify-content: center;
}
